/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 37px;
  cursor: pointer;
  color: var(--color-white);
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  text-align: left;

  &.black {
    color: var(--color-black);
  }
  
  &.disabledContainer {
    cursor: not-allowed;
  }

  &.error {
    color: var(--color-red);
  }
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

  &.disabledInput {
    cursor: not-allowed;
  }
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: var(--color-white);
  border: 2px solid var(--color-semi-darker-gray2);

  &.disabledColors {
    border-color: var(--color-solid-dark-gray);
  }
}

/* On mouse-over, add a black border color */
.container:hover input ~ .checkmark {
  border-color: var(--color-black);

  &.disabledColors {
    border-color: var(--color-solid-dark-gray);
  }
}

/* When the checkbox is checked, add a dark gray background */
.container input:checked ~ .checkmark {
  background-color: var(--color-semi-darker-gray2);

  &.disabledColors {
    background-color: var(--color-solid-dark-gray);
  }
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid var(--color-white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}