.basicColors {
  --color-light-purple: #B266FF;
  --color-dark-purple: #7844AD;
  --color-darker-purple: #4D2B6E;
  --color-red: #FF1A1A;
  --color-light-red: #FFCCCC;
  --color-green: #108700;
  --color-blue: #1A53FF;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-dark-white: #F7F3FF;
  --color-light-gray: #F7F3FF;
  --color-gray: #7e7d7d;
  --color-dark-gray: #525252;
  --color-dark-gray2: #484848;
  --color-darker-gray: #303030;
  --color-darkest-gray: #292626;
  --color-lemon-green: #8FEB34;
  --color-light-blue: #569bee;
}