.wrapper {
  max-width: 1000px;
  min-height: 200px;
  margin: 50px auto 20px auto;
  display: flex;
  flex-direction: column;
  position: relative;

  p {
    color: var(--color-white);

    &.header {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 20px;
      text-decoration: underline;
    }

    &.message {
      font-size: 22px;
      font-weight: 600;
    }
  }

  .infoRow {
    display: flex;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }

    p {
      font-size: 24px;
      font-weight: 400;

      &.title {
        font-weight: 700;
        margin-right: 10px;
      }
    }
  }
}