.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 20px 10px;
  margin: 50px auto 20px auto;

  .titleWrapper {
    width: 100%;
    margin-bottom: 25px;

    p {
      text-align: center;
      color: var(--color-white);
      font-size: 35px;
      font-weight: 700;
    }
  }

  .filterBarWrapper {
    width: 100%;
    margin-bottom: 20px;
  }

  .itemListWrapper {
    position: relative;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;

    .itemWrapper {
      width: 100%;
      margin-bottom: 15px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    p.par {
      color: var(--color-white);
      font-weight: 600;
      font-size: 16px;
      text-align: center;
    }
  }
}