.app {
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   background-color: var(--color-darker-gray);

   .appContent {
      width: 100%;
      flex-grow: 1;
   }
}